.mobile-nav {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 360px;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  margin-top: 10px;
  text-decoration: none;
  color: #9b9b9b; /* Default color for unselected icons */
  cursor: pointer;
}

.selected > svg {
  fill: #f29224; /* Color for selected icon */
}

.bi {
  margin-left: 11px;
}

.bi-calendar, .bi-journals {
  margin-left: 26px;
}

.bi-card-checklist {
  margin-left: 20px;
}

.bi-geo-alt {
  margin-left: 6px;
}
.qr-code {
  margin-top: -23px;
}

.driver-qr-code {
  margin-top: -23px;
  margin-left: -1px;
}

